
body {
  margin: 0;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f8f8;
  text-align: center;
}

h1 {
  font-size: 21 px;
  margin-bottom: 30px;
  color: #333;
}
.slider {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
.slider div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider img {
  width: 80%;
  height: auto;
  border-radius: 12px;
   display: block;
   margin: 0 auto;
  box-shadow: 15px 9px 15px rgba(1,1,1,0.3);
}

#footer{
margin-top: 100px;
}
.signUpBtn {
  display: inline-flex;
  align-items: center;
  color:#004b71;
  background-color: #f5f6fc;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-family: inherit;
  gap : 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  text-decoration: none;
}



/* גודל קטן מאוד */
@media (max-width: 455px) {
  .signUpBtn {
      font-size: 12px
    }

    h1 {
        margin-top: 300px
    }
}


/* גודל קטן */
@media (min-width: 456px) and (max-width: 767px) {
  .signUpBtn {
      font-size: 14px
    }

    h1 {
        margin-top: 200px
    }
}

/* גודל בינוני */
@media (min-width: 768px) and (max-width: 1023px) {
  .signUpBtn {
        font-size: 16px
      }
  h1 {
      margin-top: 130px
  }
}

/* גודל גדול */
@media (min-width: 1024px) {
  .signUpBtn {
        font-size: 18px
      }

  h1 {
      margin-top: 80px
  }
}

.signUpBtn img {
  width: 20px;
  height: 20px;
  color:#004b71;
}
#thankYouMessage {
  display: none;
  font-size: 12px;
  margin-top: 4px;
}

.actionsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}